{% extends "base.html" %}

{% block head %}
  <style>
    main { max-width: 100%; }
    h2, p { text-align: center; }
    pre {
      max-width: 40em;
      margin: 1em auto;
      padding: 1em;
      border: 1px solid #ccc;
    }
    .red { color: #f00; }
    .green { color: #0a0; }
  </style>
{% endblock %}

{% block content %}
  <p><a href="{% url "index" %}">Back to file uploads</a></p>

  {% if result.unaccounted_for_funds %}
    <h2>Unaccounted for funds</h2>
    <table>
      <tr>
        <th>Asset</th>
        <th>Amount</th>
        <th>Selling date</th>
        <th>Comment</th>
      </tr>
      {% for unaccounted_for_funds in result.unaccounted_for_funds %}
        <tr>
          <td>{{ unaccounted_for_funds.asset }}</td>
          <td>{{ unaccounted_for_funds.asset_amount|floatformat:8 }}</td>
          <td>{{ unaccounted_for_funds.timestamp }}</td>
          <td>Claiming it was free at {{ unaccounted_for_funds.timestamp }}</td>
        </tr>
      {% endfor %}
    </table>
    <hr/>
  {% endif %}

  {% if result.adjustments %}
    <h2>Adjustments for superannuation</h2>
    <pre>Date,Type,BTC,AUD,Comment
{% for adjustment in result.adjustments %}{{ adjustment.timestamp.day }}/{{ adjustment.timestamp.month }}/{{ adjustment.timestamp.year }},{{ adjustment.type }},{{ adjustment.asset_amount|floatformat:8 }},{{ adjustment.aud_amount|floatformat:2 }},{{ adjustment.comment }}
{% endfor %}</pre>
    <hr/>
  {% endif %}

  {% if result.annual_summaries %}
    <h2>Annual capital gains summary</h2>
    <table>
      <tr>
        <th>Year</th>
        <th>Profit</th>
        <th>Profit (with discounts)</th>
      </tr>
      {% for annual_summary in result.annual_summaries %}
        <tr>
          <td>{{ annual_summary.year }}</td>
          <td class="{% if annual_summary.profit >= 0 %}green{% else %}red{% endif %}">${{ annual_summary.profit|floatformat:2 }}</td>
          <td class="{% if annual_summary.discounted_profit >= 0 %}green{% else %}red{% endif %}">${{ annual_summary.discounted_profit|floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </table>
    <p>All total profit: <span class="{% if result.all_total_profit >= 0 %}green{% else %}red{% endif %}">${{ result.all_total_profit|floatformat:2 }}</span></p>
    <hr/>
  {% endif %}

  {% if result.remaining_balances %}
    <h2>Remaining balances</h2>
    <table>
      <tr>
        <th>Asset</th>
        <th>Asset amount</th>
        <th>Amount spent to purchase</th>
      </tr>
      {% for remaining_balance in result.remaining_balances %}
        <tr>
          <td>{{ remaining_balance.asset }}</td>
          <td>{{ remaining_balance.asset_amount|floatformat:8 }}</td>
          <td>${{ remaining_balance.aud_amount|floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </table>
    <hr/>
  {% endif %}

  {% if user.is_staff and result.next_super_payment %}
    <h2>Next super payment</h2>
    <p>Add this to adjustments.csv:</p>
    <pre>{{ result.next_super_payment }}</pre>
    <hr/>
  {% endif %}

  {% if result.events %}
    <h2>Breakdown of taxable events</h2>
    <table>
      <tr>
        <th>Asset</th>
        <th>Amount</th>
        <th>Buying price</th>
        <th>Selling price</th>
        <th>Buying date</th>
        <th>Selling date</th>
        <th>Profit</th>
        <th>Discount</th>
      </tr>
      {% for event in result.events %}
        <tr>
          <td>{{ event.asset }}</td>
          <td>{{ event.amount|floatformat:8 }}</td>
          <td>${{ event.buying_rate|floatformat:2 }}</td>
          <td>${{ event.selling_rate|floatformat:2 }}</td>
          <td>{{ event.buying_timestamp }}</td>
          <td>{{ event.selling_timestamp }}</td>
          <td class="{% if event.profit >= 0 %}green{% else %}red{% endif %}">${{ event.profit|floatformat:2 }}</td>
          <td>{% if event.discount %}Discounted 50%{% else %}No discount{% endif %}</td>
        </tr>
      {% endfor %}
    </table>
    <hr/>
  {% endif %}

{% endblock %}
