{% extends "base.html" %}

{% block head %}
  <style>
    table { margin: 0 0; }
    form > div {
      margin: 1em 0;
    }
    .messages .error {
      color: #f00;
    }
    .files form {
      display: inline-block;
    }
    .files button {
      background-color: transparent;
      color: #00f;
      border-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  </style>
  <script>
    window.addEventListener("load", (event) => {
      document.getElementById("id_files").onchange = function() {
        document.getElementById("form").submit();
      };
      document.getElementById("submit_button").remove();
    });
  </script>
{% endblock %}

{% block content %}

  <h2>Upload a CSV file</h2>

  {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
  {% endif %}

  <form id="form" action="{% url "upload" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <div id="submit_button"><input type="submit" value="Upload CSV file"></div>
  </form>

  <hr/>

  <h2>Uploaded files</h2>
  {% if user.csv_files.count == 0 %}
    <p>
      You have not uploaded any CSV files.
    </p>
  {% else %}
    <table class="files">
      <tr>
        <th>Filename</th>
        <th>Upload timestamp</th>
        <th></th>
      </tr>
      {% for csv_file in user.csv_files.all %}
        <tr>
          <td>{{ csv_file.filename }}</td>
          <td>{{ csv_file.uploaded_at|date:"Y-m-d H:i:s e" }}</td>
          <td>
            <form action="{% url "delete" csv_file.id %}" method="post">
              {% csrf_token %}
              <button type="submit">(delete)</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
    <hr/>
    <p>Click <a href="{% url "calculate" %}">here</a> to calculate your capital gains.</p>
  {% endif %}

{% endblock %}
